canvas-wrapper-inner { 
   background-color: #b8d5cd;
}

/* .orbit-figure {
   max-width: 90%;
} */

.icon {
   min-height: 22%;
   min-width: 22%;
   max-height: 46px;
   max-width: 46px;
   margin-bottom: .6em;
}

.off-canvas {
   background-color: #006a4e;
}

.title-bar {
   background-color: #2e856e;
}

.callout { 
   background-color: #5ca08e;
}

.orbit {
   background-color: #b8d5cd;
}

.off-canvas-content {
   background-color: #b8d5cd;
}

hr {
   background-color: #006a4e;
}

.orbit-bullets button{
   background-color: #006a4e;
}

.top-icon {
   min-height: 20%;
   min-width: 20%;
   max-height: 45px;
   max-width: 45px;
}

.thumbnail { 
   margin-bottom: 2em;
}

h3 {
   margin-left: 1em;
   /* margin-bottom: 1em; */
   color: white;
}

h1 {
   color: white;
}

h5 {
   margin-left: .5em;
   margin-bottom: 1em;
   color: white;
}

.github {
   float: right;
}

a {
   color: white;
}

.hidden{
   display: none;
}

.show {
   display: inline-block;
}